.headerWrapper {
  background: white;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: var(--header-padding) 0;
  position: fixed;
  padding: 2rem;
  width: 100%;
  z-index: 2;
}

.topHeaderWrapper {
  display: flex;
  flex: 8;
}

.topHeaderLeft {
  display: flex;
  align-items: center;
  flex: 2;
  margin-right: 1rem;
}

.topHeaderRight {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 6;
}

.bottomElementsWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
