@import url("https://fonts.cdnfonts.com/css/rawline");

:root {
  font-family: "Rawline", "Open Sans", system-ui, sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
